<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="" method="POST">
    {% csrf_token %}
    <input type="number" name="num1"> <br><br><br>
    <select name="operation" id="">
        <option value="+"> + </option>
        <option value="-"> - </option>
        <option value="*"> * </option>
        <option value="/"> / </option>
    </select><br><br><br>
    <input type="number" name="num2">   <br><br><br> 
    <button type="'submit"> Calculate </button>
</form>
{% if result is not None%} 
      <h1>Result:    {{ result }}     </h1> 
{% endif %}




</body>
</html>